.contact-form-container-q {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  text-align: center; 
}

.banner-text-tt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner-text-tt p {
  width: 70%;
  text-align: center;
  justify-content: center;
  text-align: left;
  margin-top: 10px;
}
.banner-text-tt h1 {
  width: 70%;
  background-color: pink;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  line-height: 2;
  
}
.icon-chat{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  
}

.contact-form-container-q h2 {
  font-size: 25px;
  text-align: left;
  padding: 10px 10px;
  background-color: lightgray;
  width: 70%;
}

.form-q {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 70%; 
}

.form-group-q {
  width: 100%;
  margin-bottom: 15px;
}

.form-group-q .label-q {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.form-group-q #name-q,
.form-group-q #email-q,
.form-group-q #telephone-q,
.form-group-q #orderNumber-q,
.form-group-q #deliveryPostcode-q,
.form-group-q #message-q {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

button[type="submit"] {
  padding: 10px 20px;
  cursor: pointer;
}
