.add-card-container {
    display: flex;
    justify-content: center;

    align-items: center;
    padding: 20px;
    gap: 60px;
  }
  
  .card-icon img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cart-icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .add-card-text {
    text-align: center;
  }
  
  .add-card-text h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .steps {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }
  
  .step {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
  }
  
  .line {
    width: 50px;
    height: 2px;
    background-color: #ddd;
    margin: 0 10px;
  }
  

  
  .cart-count {
    position: absolute;
    top: 30px;
    right: 530px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
  }
  
  /* .fa-basket-shopping{
    font-size: 30px;
  } */
  
  .step.completed {
    background-color: darkgray; /* or any color you prefer */
    font-weight: bold;
  }
  
  .step.active {
    background-color: dark; /* or any color you prefer */
  }

  .card-number{
    display: flex;
    justify-content: space-between;
  }

  .card-number a{
    text-decoration: none;
    color: black;
  }